* {
  margin: 0;
  padding: 0;
}

html body {
  background-color: #ffd19a;
  font-family: "Ubuntu", sans-serif;
  overflow-y: auto;
}
html body .taggle-button-box {
  display: flex;
  margin-top: 20px;
}
html body .taggle-button-box .home {
  position: relative;
  left: 12px;
  display: inline-block;
  width: 50px;
  aspect-ratio: 1/1;
}
html body .taggle-button-box .home:hover .header-top-content-home-ex {
  opacity: 1;
}
html body .taggle-button-box .home .header-top-content-home-ex {
  box-sizing: border-box;
  position: absolute;
  top: calc(100% + 10px);
  left: 50%;
  font-size: 0.8rem;
  transform: translateX(-50%);
  height: 25px;
  line-height: 25px;
  width: 75px;
  text-align: center;
  pointer-events: none;
  color: black;
  transition: 0.5s;
  opacity: 0;
}
html body .taggle-button-box .home .home-icon1 {
  width: 100%;
  height: 100%;
  background-image: url(../../images/01_1.svg);
  background-position: center;
  background-repeat: no-repeat;
}
html body .taggle-button-box .home .home-icon2 {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0px;
  background-image: url(../../images/01_0.svg);
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.5s;
}
html body .taggle-button-box .home:hover .home-icon2 {
  opacity: 0;
}
html body .signup-form {
  margin: 7% auto;
  text-align: center;
  background-color: #FFFFFF;
  width: 400px;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}
html body .signup-form .signup-form-title-box .signup-form-title {
  padding-top: 40px;
  color: #fa9f32;
  font-family: "Ubuntu", sans-serif;
  font-size: 23px;
  font-weight: bold;
}
html body .signup-form .signup-form-title-box .signup-prompt {
  padding-top: 15px;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #fa9f32;
}
html body .signup-form .container-signup {
  position: relative;
}
html body .signup-form .container-signup form {
  display: block;
  padding-top: 40px;
}
html body .signup-form .container-signup form .input-field-group :focus {
  border: 2px solid rgba(0, 0, 0, 0.18) !important;
}
html body .signup-form .container-signup form .input-field-group :focus::-moz-placeholder {
  color: transparent;
}
html body .signup-form .container-signup form .input-field-group :focus::placeholder {
  color: transparent;
}
html body .signup-form .container-signup form .input-field-group ::-moz-placeholder {
  color: #999;
}
html body .signup-form .container-signup form .input-field-group ::placeholder {
  color: #999;
}
html body .signup-form .container-signup form .input-field-group .input-field input {
  width: 76%;
  color: rgb(38, 50, 56);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  background: rgba(136, 126, 126, 0.04);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  margin-bottom: 27px;
  font-family: "Ubuntu", sans-serif;
}
html body .signup-form .container-signup form .submit {
  cursor: pointer;
  border-radius: 5em;
  color: #fff;
  background: linear-gradient(to right, #ffb257, #ffb257);
  border: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: "Ubuntu", sans-serif;
  font-size: 13px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}
html body .signup-form .login {
  font-weight: 700;
  padding-bottom: 50px;
  padding-top: 25px;
  text-decoration: none;
  color: #fa9f32;
  display: block;
  font-size: 13px;
  letter-spacing: 1px;
}
/*# sourceMappingURL=main.css.map */